.DS_Store
node_modules
*.log

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

coverage.txt
profile.out

*.tgz
*.tar.gz
*.exe
*.exe~
*.dll
*.so
*.dylib
.bin
./bin
*.test
*.out

.idea
.vscode
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
